body {
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fff;
  overflow: hidden;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Sans Light", "Fira Sans", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

x-appbar.sticky {
  position: absolute;
  top: 0;
  left: 0;
}

x-flipbox {
  position: absolute;
  height: calc(100vh - 45px);
  padding: 20px;
  top: 45px;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

x-appbar .button {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8em;
}

#menu-btn {
  font-weight: bold;
  font-size: 1.4em;
}

#searchform-inner {
  width: 100%;
  height: 45px;
  position: relative;
}

#searchbox-wrapper {
  width: 80%;
  margin: 0;
  padding: 0;
  float: left;
}

#searchsubmit-wrapper {
  width: 20%;
  margin: 0;
  padding: 0;
  float: left;
}

#searchbox {
  width: 100%;
  height: 45px;
  outline: 0;
  border: 1px solid #999;
  padding: 0;
  margin: 0;
  box-shadow: 0;
  border-radius: 0;
  text-indent: 10px;
}

#searchbox:disabled {
  color: #999;
}

#searchsubmit {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  background-color: #04B309;
  color: #d6d6d6;
  outline: 0;
  border: 1px solid #038207;
  border-radius: 0;
}

#searchsubmit.active {
  color: #fff;
}

#resultsbox {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.resultitem {
  word-wrap: break-word;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  display: flex;
  flex: 1;
}

.resultitem.active {
  background-color: #0095DD;
  color: #ffffff;
  transition: all 100ms ease-in-out;
}

.resultitem.active .folderpath {
  color: #cccccc;
}

.resultitem:focus {
  border-color: #0095DD;
}

#resultsbox li > p {
  padding: 2em;
  text-align: center;
}

#resultsbox li.status > p {
  padding: 0;
  margin: 0 0 0.6rem 0.6rem;
  text-align: left;
}

.resultitem .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resultitem .resultitem-item {
  flex: 1 1 80%;
}

.resultitem .resultitem-preview {
  background-color: #333333;
  color: #fefefe;
  text-align: center;
  flex: 1 1 20%;
  justify-content: center;
}

.resultitem h4 {
  padding: 0.6rem 0 0 0.6rem;
  margin: 0;
  font-weight: normal;
}

.resultitem .folderpath {
  margin: 0;
  padding: 0 0 0.6rem 0.6rem;
  color: #707070;
}

.wobblebar {
  transition: opacity .25s ease-in-out;
  opacity: 0.9;
  padding-top: 5px;
  animation-iteration-count: infinite;
}

.wobblebar.hide {
  opacity: 0;
  animation-iteration-count: 0;
}

.menu > * {
  margin: 0.3em;
  padding: 0.3em;
}

.menu h2, .menu h3 {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

p.lead {
  font-size: 1.25em;
}

.small {
  font-size: 0.75em;
}

code {
  font-family: monospace;
  font-stretch: expanded;
  font-style: normal;
}
